body, html {
  background-image: url("../images/dogrunning.jpg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  letter-spacing: 2px;
  font-weight: 300;
  color: #E4DED5!important;
  font-family: 'Kumbh Sans', sans-serif; 
}

.uk-navbar-container, .uk-container {
  background-color: rgba(100, 92, 81, 0.85)!important;
  padding: 20px;
}

.logo {
  width: 8%;
}
.uk-navbar-center > h1 {
  color: #E4DED5!important;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.uk-button{
  background-color: #E4DED5!important;
  color: #3D3428;
}

.at-risk-li {
  width: fit-content;
  align-items: center;
  padding: 5px;
}

.at-risk-li > img {
  height: 125px;
}

.breed-select {
  background-color:  #E4DED5;
}

.uk-checkbox:checked, ::selection {
  background-color: #B6ADA2!important;
}